<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body>
    <div class="blur"></div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #3b4f61;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin">Dashboard</a>
            <a href="/admin/user" style="padding-right: 1%;color: white;"> User</a>
            <a href="/admin/subject" style="padding-right: 1%;color: white;"> Subject</a>
            <a href="/admin/chapter" style="padding-right: 1%;color: white;"> Chapter</a>
            <a href="/admin/quiz" style="padding-right: 1%;color: white;"> Quiz</a>
            <a href="/admin/questions" style="padding-right: 1%;color: white;"> Questions</a>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" style="color: white;">
                        {{ user }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div style="margin: auto; padding: 4%;">
        <div class="text-center">
            <h2 class="mt-3 mb-3">Enter Questions to Add</h2>
        </div>
        <form action="/add/questions" method="post" style="margin: auto;max-width: 80vw;">
            {% for i in range(n) %}
            <fieldset class="form-control mb-3" style="margin:auto ;max-height: 60vh;">
                <legend>Question {{ i+1 }}</legend>
                <label>Question Statement:</label>
                <input class="form-control" type="text" name="qstatement_{{ i }}" placeholder="Statement" required><br>
                {% for j in range(4) %}
                    <label>Option {{ j+1 }}:</label>
                    {% if j < 2 %}
                        <input class="form-control" type="text" name="opt{{ i }}_{{ j }}" placeholder="Option {{ j+1 }}" required><br>
                    {% else %}
                        <input class="form-control" type="text" name="opt{{ i }}_{{ j }}" placeholder="Option {{ j+1 }}" ><br>
                    {% endif %}
                {% endfor %}
                <label>Correct Option:</label>
                <input class="form-control" type="number" max="4" name="copt_{{ i }}" placeholder="Correct Option" required><br>
            </fieldset>
            {% endfor %}
            <button class="mt-3 mb-3 btn quest-btn"  type="submit">Submit Questions</button>
        </form>
    </div>
</body>


    