<form action="/add/quiz" method="post">
    {% include 'list/chapters.html' %} 
    <input class="form-control mt-3" type="text" name="name" placeholder="Quiz Name" required>
    <input class="form-control mt-3" type="text" name="description" placeholder="Description">
    <input class="form-control mt-3" type="date" name="doq" required>
    <input class="form-control mt-3" type="number" name="duration" step="0.5" placeholder="Quiz Duration (Minutes)" required>
    <button class="mt-3 mb-3 btn submit-btn" type="submit">Add</button>
</form>

