<form action="/edit/quiz" method="post">
  {% include 'list/quizes.html' %} 
  <input class="form-control mt-3" type="text" name="name" placeholder="New Name" required>
  <input class="form-control mt-3" type="datetime-local" name="start" placeholder="New Start Date" required>
  <input class="form-control mt-3" type="datetime-local" name="end" placeholder="New End Date" required>
  <input class="form-control mt-3" type="number" step="0.5" name="duration" placeholder="New Duration" required>
  <button class="mt-3 mb-3 btn submit-btn" type="submit">Edit</button>
</form>
