<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body>
    <div class="blur"></div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #3b4f61;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin">Dashboard</a>
            <a href="/admin/user" style="padding-right: 1%;color: white;"> User</a>
            <a href="/admin/chapter" style="padding-right: 1%;color: white;"> Chapter</a>
            <a href="/admin/quiz" style="padding-right: 1%;color: white;"> Quiz</a>
            <a href="/admin/questions" style="padding-right: 1%;color: white;"> Questions</a>
            <a href="/admin/api" style="padding-right: 1%;color: white;"> API</a>
            <a href="/search" style="padding-right: 1%;color: white;"> Search</a>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" style="color: white;">
                        {{ user }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="main_cont">
        {% include 'extra/response.html' %} 
        <!-- Subject -->
        <div class="card mb-4 shadow-lg rounded-4 d-flex" style="margin:auto; max-width: 80vw;">
            <h3 class="mt-4" style="margin: auto;" >Add Subject</h3>
            <form action="/add/subject" method="post" class="">
                <input class="form-control mt-3" type="text" name="code" placeholder="Course Code" required>
                <input class="form-control mt-3" type="text" name="subject" placeholder="Subject Name" required>
                <input class="form-control mt-3" type="text" name="description" placeholder="Description" required>
                <button class="submit-btn mt-3 mb-3 btn " type="submit">Add</button>
            </form>
        </div>

        <div class="card mb-4 shadow-lg rounded-4 d-flex" style="margin:auto; max-width: 80vw;">
            <h3 class="mt-4" style="margin: auto;">Edit Subject</h3>
            <form action="/edit/subject" method="post">
                {% include 'list/subjects.html' %} 
                <input class="form-control mt-3" type="text" name="subject" placeholder="New Subject Name" required>
                <input class="form-control mt-3" type="text" name="description" placeholder="New Description" required>
                <button class="submit-btn mt-3 mb-3 btn" type="submit">Update</button>
            </form>
        </div>

        <div class="card mb-4 shadow-lg rounded-4 d-flex" style="margin:auto; max-width: 80vw;">
            <h3 class="mt-4" style="margin: auto;">Delete Subject</h3>
            <form action="/delete/subject" method="post" onsubmit="return confirmDelete();">
                {% include 'list/subjects.html' %} 
                <button class="submit-btn mt-3 mb-3 btn" type="submit">Delete</button>
            </form>
        </div>
        <script>
            function confirmDelete() {
                return confirm("Are you sure you want to delete this subject?");
            }
        </script>
    </div>
</body>
</html>