<div class="card mb-4 mt-4" style="margin:auto; min-width: fit-content;max-width: 80vw;">
  <!-- id,chapter_id,name,start_date,end_date,duration,description,chaper name,subject -->
  <h3 class="card-body mt-3 mb-3" style="margin: auto;">Found Quiz</h3>
  <div style="padding-left: 5%;">
    <p><strong>Quiz:</strong> {{ result[2] }}</p>
    <p><strong>Chapter:</strong> {{ result[7] }}</p>
    <p><strong>Subject:</strong> {{ result[8] }}</p>
    <p><strong>Description:</strong> {{ result[6] }}</p>
    <p><strong>Timings:</strong></p>
    <p><strong>Start:</strong> {{ result[3] }}</p>
    <p><strong>End:</strong> {{ result[4] }}</p>
    <p><strong>Duration:</strong> {{ result[5] }} Minutes</p>
  </div>
</div>