<div class="card mb-4 mt-4" style="margin:auto; max-width: 80vw;">
  <!-- id,username,fullname,qualification,dob -->
  <h3 class="mt-3 mb-3" style="margin: auto;">Found User</h3>
  <div style="padding-left: 5%;">
    <p><strong>Username:</strong> {{ result[1] }}</p>
    <p><strong>ID:</strong> {{ result[0] }}</p>
    <p><strong>Full Name:</strong> {{ result[2] }}</p>
    <p><strong>Qualification:</strong> {{ result[3] }}</p>
    <p><strong>Date of Birth:</strong> {{ result[4] }}</p>
  </div>
</div>