<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="blur"></div>
    <div class="mb-3">
        {% include 'user/navbar.html' %}
    </div>
    <div class="main_cont">
       <p >Welcome {{user}}</p> 
        
       <!-- Subjects -->       
       <div class="card mb-4 justify-content-center shadow-lg rounded-4 d-flex" style="margin:auto; max-width: 80vw;">
            <h3 class="mt-4" style="margin: auto;">Subjects</h3>
            <div class="justify-content-center" style="padding: 1%;">
                {% for s in sublist %}
                <details class="card mt-2 mb-2">
                    <summary>{{ s[2] }}</summary>
                    <div style="padding-left: 2%;">
                        <p><strong>Code:</strong> {{ s[1] }}</p>
                        <p><strong>Description:</strong> {{ s[3] }}</p>
                    </div>
                </details>
                {% endfor %}
            </div>
        </div>
        <!-- Quiz -->
        <div class="card mb-4 justify-content-center shadow-lg rounded-4 d-flex" style="margin:auto; max-width: 80vw;">
            <h3 class="mt-4" style="margin: auto;">Quizzes</h3>
            <div class="card-body justify-content-center" style="padding: 1%;">
                {% for q in quizlist %}
                <details class="card mt-2 mb-2">
                    <summary>{{ q[2] }}</summary>
                    <div style="padding-left: 2%;">
                        <p><strong>Subject:</strong> {{ q[8] }}</p>
                        <p><strong>Chapter Name:</strong> {{ q[1] }}</p>
                        <p><strong>Start:</strong> {{ q[3] }} </p>
                        <p><strong>End:</strong> {{ q[4] }} </p>
                        <p><strong>Duration:</strong> {{ q[5] }} minute(s)</p>
                        <p><strong>Description:</strong> {{ q[6] }}</p>
                        {% if q[7] %}
                        <a href="/user/quiz/{{ q[0] }}" class="mt-3 btn submit-btn">Goto Quiz</a><br>
                        {% else %}
                        <p class="card-body mt-3 mb-3 card text-center" style="max-width: fit-content;">Quiz not available</p>
                        {% endif %}
                        <a href="/user/scores/" class=" mt-1 mb-3 btn submit-btn">See Scores</a>
                    </div>
                </details>
                {% endfor %}
            </div>
        </div>
        
    </div>
</body>
</html>